PLAYER_WARRIOR            BITMAP PLAYER_WARRIOR.BMP


ENEMY_GRAY_WOLF           BITMAP ENEMY_GRAY_WOLF.BMP
ENEMY_BROWN_BEAR          BITMAP ENEMY_BROWN_BEAR.BMP
ENEMY_GIANT_SPIDER		  BITMAP ENEMY_GIANT_SPIDER.BMP

ENEMY_DARK_GOBLIN         BITMAP ENEMY_DARK_GOBLIN.BMP
ENEMY_DARK_GOBLIN_THIEF   BITMAP ENEMY_DARK_GOBLIN_THIEF.BMP
ENEMY_DARK_GOBLIN_SHAMAN  BITMAP ENEMY_DARK_GOBLIN_SHAMAN.BMP

ENEMY_TROLL               BITMAP ENEMY_TROLL.BMP
ENEMY_BEAST               BITMAP ENEMY_BEAST.BMP
ENEMY_CAVE_GIANT          BITMAP ENEMY_CAVE_GIANT.BMP

ENEMY_STONE_WORM          BITMAP ENEMY_STONE_WORM.BMP
ENEMY_STONE_GIANT         BITMAP ENEMY_STONE_GIANT.BMP
ENEMY_FIRE_SNAKE          BITMAP ENEMY_FIRE_SNAKE.BMP

ENEMY_UNDEAD_PALADIN      BITMAP ENEMY_UNDEAD_PALADIN.BMP

ENEMY_UNDEAD_ARCHER       BITMAP ENEMY_UNDEAD_ARCHER.BMP
ENEMY_UNDEAD_SHADOW       BITMAP ENEMY_UNDEAD_SHADOW.BMP
ENEMY_UNDEAD_WARRIOR      BITMAP ENEMY_UNDEAD_WARRIOR.BMP

ENEMY_FOREST_TROLL        BITMAP ENEMY_FOREST_TROLL.BMP
ENEMY_SATIR               BITMAP ENEMY_SATIR.BMP
ENEMY_ENT                 BITMAP ENEMY_ENT.BMP

ENEMY_CRAB                BITMAP ENEMY_CRAB.BMP
ENEMY_TIDER               BITMAP ENEMY_TIDER.BMP
ENEMY_SEASNAKE            BITMAP ENEMY_SEASNAKE.BMP

ENEMY_UNDEAD_SCOUT        BITMAP ENEMY_UNDEAD_SCOUT.BMP
ENEMY_UNDEAD_WARLORD      BITMAP ENEMY_UNDEAD_WARLORD.BMP
ENEMY_UNDEAD_OLD_LORD     BITMAP ENEMY_UNDEAD_OLD_LORD.BMP







